---
---

@import "{{ site.theme }}";

$header-bg-color: #916CAC;
$header-bg-color-secondary: #65318F;
$section-headings-color: #000;

.page-header {
    background-color: #65318F;
    background-image: linear-gradient(120deg, #65318F, #916CAC);
}

// h1, h2, h3, h4, h5, h6 {
//     color: #000;
// }

// .language-menu {
//     color: $blockquote-text-color;
//     font-size: 80%;
//     position: absolute;
//     top: 5px;
// }

// .page-header {
//     position: relative
// }

// @media screen and (min-width: 64em) { .language-menu { right: 24rem; } }
// @media screen and (min-width: 42em) and (max-width: 64em) { .language-menu { right: 8rem; } }
// @media screen and (max-width: 42em) { .language-menu { right: 1rem; } }

